---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter";
---

<Layout title="Welcome to Astro.">
  <main class="flex bg-slate-200 justify-center">
    <Counter client:visible>
      <h1>Hello, Solid!</h1>
    </Counter>
    <Counter client:load>
      <h1>Hello, Solid!</h1>
    </Counter>
  </main>
</Layout>
